<%= form_for @listing do |f| %>
<p>
  <%= f.label "Title" %><br>
  <%= f.text_field :title %><br>
  <%= f.label "Address" %><br>
  <%= f.text_field :address %><br>
  <%= f.label "Price" %><br>
  <%= f.number_field :price %><br>
  <%= f.file_field :photos, multiple: true %><br>

  <p>
    <%= f.submit %>
  </p>

  <strong>Photos</strong><br>
  <% if @listing.photos? %>
  <% @listing.photos.each do |photo| %>
  <%= image_tag(photo) %>
  <% end %>
  <% end %> 
</p>

<% if signed_in? and current_user.moderator? %>
<%= f.label "Status" %><br>
<%= f.number_field :status %><br>
<% end %>
</p>


<% end %>