<table>
<tr>
<th>Title</th>
<th>Address</th>
<th>Price</th>
</tr>

<%  @listings.each do |listing| %>
    <tr>
    <% if signed_in? and listing.user_id == current_user.id %>
          <td> <%= listing.id %> </td>
          <td> <%= listing.title %> </td>     
          <td> <%= listing.address %> </td>
          <td> <%= listing.price %> </td>
          <td> <%= link_to 'Show', listing_path(listing) %> </td>
          <td><%= link_to 'Delete', listing_path(listing), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td> <%= link_to 'Edit', edit_listing_path(listing) %> </td>
    <% end %>
    </tr>   
<% end %>
</table>
<br>

<div class="pagination">
    <div class="page_info">
      <%= page_entries_info @listings %>
    </div>
    <%= will_paginate @listings, :container => false %>
  </div>
