<%  @listings.each do |listing| %>
<div class="col-md-3">
  <div class="well">
    <p> <%= listing.id %> </p>
    <p> <%= listing.title %> </p>     
    <p> <%= listing.address %> </p>
    <p> <%= listing.price %> </p>
    <p> <%= listing.status %> </p>
    <p> <%= link_to 'Show', listing_path(listing) %> </p>
    <p> <%= link_to 'Edit', edit_listing_path(listing) %> </p>

    <% if signed_in? and current_user.moderator? %>
    <p> <%= link_to 'Verify', edit_listing_path(listing) %> </p>
    <% end %>
  </div>
</div>
<% end %>

<br>

<div class="pagination">
  <div class="page_info">
    <%= page_entries_info @listings %>
  </div>
  <%= will_paginate @listings, :container => false %>
</div>
