<h1>
	<strong>Title:</strong>
	<%= @listing.title %>		
</h1>

<h1>
	<strong>Address:</strong>
	<%= @listing.address %>		
</h1>

<h1>
	<strong>Price:</strong>
	<%= @listing.price %>		
</h1>

<h1>
	<strong>Status:</strong>
	<%= @listing.status %>		
</h1>


<h1>
	<% if @listing.photos? %>
	<strong>Pictures</strong><br>
		<% @listing.photos.each do |photo| %>
			<%= image_tag(photo) %>
		<% end %>
	<% end %>	
</h1>