

<div class="container">
  <div class="hero-header">
    <div class="main-text">Pair BnB</div>
    <div class="sub-text">A place to find your next home</div>
  </div>

<div>
<table>
<tr>
<th>ID</th>  
<th>Title</th>
<th>Address</th>
<th>Price</th>
<th>Status</th>
</tr>

<%  @listings.each do |listing| %>
    <tr>
          <td> <%= listing.id %> </td>
          <td> <%= listing.title %> </td>     
          <td> <%= listing.address %> </td>
          <td> <%= listing.price %> </td>
          <td> <%= listing.status %> </td>
          <td> <%= link_to 'Show', listing_path(listing) %> </td>

          <% if current_user.moderator? %>
          <td> <%= link_to 'Verify', edit_listing_path(listing) %> </td>
          <% end %>
    </tr>   
<% end %>
</table>
</div>

<br>
<div class="pagination">
    <div class="page_info">
      <%= page_entries_info @listings %>
    </div>
    <%= will_paginate @listings, :container => false %>
  </div>


  <div class="div-one">
    <div class="para-one">
      <h1>About Us</h1>
    A place to host or rent a great place.</div>
    <div class="para-two">
      <h1>Why use us</h1>
      Convenient and safe.
    </div>
  </div>
</div>
<div class="pusher"></div>
<div id="footer">
  <ul>
    <li><%= link_to "About Us", about_path %></li>
    <li>Privacy</li>
    <li>Terms</li>
    <li>Contact Us</li>
    <li>Signup for newsletter</li>
    <li>© Pairbnb, Inc.</li>
  </ul>
</div>

<p><a href="#">Back to top</a></p>