<!DOCTYPE html>
<html="en">
<head>
  <title>Pairbnb</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tag %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <%= render partial: "layouts/navbar" %>

  <%= yield %>

  <div class="div-one">
  <div class="para-one">
    <h1>Hosting</h1>
  A place to host or rent a great place.
  </div>
  <div class="para-two">
    <h1>Why use us</h1>
    Convenient and safe.
  </div>
</div>

<div class="pusher"></div>
<div id="footer">
  <ul>
    <li><%= link_to "About Us", about_path %></li>
    <li>Privacy</li>
    <li>Terms</li>
    <li>Contact Us</li>
    <li>Signup for newsletter</li>
    <li>© Pairbnb, Inc.</li>
  </ul>
</div>

<p><a href="#">Back to top</a></p>

</body>
</html>
